@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<DataProvider.Person>

<h1>Liste des personnes</h1>
<button class="button buttonCreate" onclick="">Create</button>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {

                 <tr onclick="window.location.href='@Url.Action("PersonDetails", "Home", new { id = person.PersonId })';" style="cursor:pointer;"> <td >@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.Age</td>
           </tr>
        }
    </tbody>
</table>

<script>
   
</script>